<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/tastTwo.css">
    <title>Document</title>
</head>
<body>
    <div>
        <table>
            <tbody>

            </tbody>
        </table>
    </div id="result">

    <button id="call-button">SHOW RESULTS</button>
    <button id="next-button">NEXT 10</button>
    <button id="prev-button">PREVIOUS 10</button>


    <script src="../src/taskThree.js"></script>
</body>
</html>