<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title Generator</title>
</head>
<body>
    <div>
        <label for="color-input">Input Color</label>
        <input id="color-input" placeholder="Input color"/>
        <label for="font-size-input">Input Font Size</label>
        <input id="font-size-input" placeholder="Input font size in px"/>
        <label for="text-input">Input Items</label>
        <input id="text-input" type="text" placeholder="Input text"/>
        <button id="title-generator">Generate Title</button>
    </div>
    <div id="quote"></div>


    <script src="../src/optionalOne.js"></script>
</body>
</html>