<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student registry page</title>
</head>
<body>
    <h1>Student registry page</h1>
    <form>
        <label for="first-name">First Name</label>
        <input type="text" id="first-name" placeholder="Enter your first Name"/>
        <br>
        <label for="last-name">Last Name</label>
        <input type="text" id="last-name" placeholder="Enter your last Name"/>
        <br>
        <label for="age">Age</label>
        <input type="text" id="age" placeholder="Enter your age"/>
        <br>
        <label for="email">E-mail</label>
        <input type="email" id="email" placeholder="Enter your email"/>
        <br>
        <button id="submit-btn">SUBMIT</button>
    </form>




    <script src="../src/optionalTwo.js"></script>
</body>
</html>