<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Generator dynamically from inputs</title>
</head>
<body>
    <header>
        <h1>List Generator dynamically from inputs</h1>
    </header>
    <div>
    <label for="color-input">Input Color</label>
    <input id="color-input" placeholder="Input color"/>
    <label for="font-size-input">Input Font Size</label>
    <input id="font-size-input" placeholder="Input font size in px"/>
    <label for="item-input">Input Items</label>
    <input id="item-input" placeholder="Input items"/>
    <button id="list-generator">Generate List</button>
    </div>
    <div id="result">

    </div>


    <script src="../src/partThree.js"></script>
</body>
</html>